* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 33px;
}
h2 {
	font-size: 33px;
}
h3 {
	font-size: 26px;
}
h4 {
	font-size: 15px;
}

p {
	font-size: 14px;
}

.grey {
	background-color: $grey-bg;
	margin: 20px 0;
}